<component name="ArtifactManager">
  <artifact type="war" name="springsecurity:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springsecurity.war">
      <element id="artifact" artifact-name="springsecurity:war exploded" />
    </root>
  </artifact>
</component>